.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

#service-header {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 100;
}



/* @media only screen and (min-width: 320px)and(max-width:992px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        background-color: yellow;
    }
} */

@media only screen and (max-width:576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}